@{
    ViewBag.Title = "试卷管理";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" id="templateTable">
            <table></table>
        </div>
    </div>
</div>
@section Scripts{
    <script src="/Content/js/admin/paper_index.js"></script>
}
