@{
    ViewBag.Title = "测试计划";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" id="planTable">
        </div>
    </div>
</div>
@section Scripts{
    <script src="/Content/js/admin/paper_plan.js"></script>
}
