@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录考试后台管理</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="main-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 margin-bottom-10">
                    <div class="input-group">
                        <span class="input-group-addon">用户名</span>
                        <input class="form-control" name="account" type="text" />
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="input-group">
                        <span class="input-group-addon">密码</span>
                        <input class="form-control" name="pwd" type="password" />
                    </div>
                </div>
                <div class="col-sm-12">
                    <button type="submit">登录</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
